@page
@model AmazonBookstore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Your order has been completed! Thank you for shoppinw with us!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Homepage</a>
</div>