@page "/admin"

@model AmazonBookstore.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Amazon Bookstore Admin </title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(AmazonBookstore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>